@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";

@theme {
  --color-primary-lime: hsl(61, 70%, 52%);
  --color-primary-lime-btn-hover: hsla(61, 70%, 52%, 0.8);
  --color-primary-lime-010: oklch(0.78 0.16 104.73 / 0.1);
  --color-primary-red: hsl(4, 69%, 50%);

  --color-neutral-white: oklch(1 0 0);
  --color-neutral-slate-100: hsl(202, 86%, 94%);
  --color-neutral-slate-300: hsl(203, 41%, 72%);
  --color-neutral-slate-500: hsl(200, 26%, 54%);
  --color-neutral-slate-700: hsl(200, 24%, 40%);
  --color-neutral-slate-900: hsl(202, 55%, 16%);
  --color-neutral-slate-900-bg: hsl(202, 55%, 16%);

  --default-font-family: "Plus Jakarta Sans", sans-serif;
}

.grayText {
  @apply text-neutral-slate-500 text-sm;
}
.inputDiv {
  @apply flex border-1 cursor-pointer border-neutral-slate-500 overflow-hidden rounded-md focus-within:border-primary-lime hover:border-neutral-slate-900;
}
.label {
  @apply w-auto px-4 h-12 flex justify-center items-center font-bold bg-neutral-slate-100 text-neutral-slate-700 group-focus-within:bg-primary-lime transition duration-200 ease-in cursor-pointer text-base group-has-[.error]:bg-primary-red group-has-[.error]:text-neutral-white;
}
.input {
  @apply w-full border-none focus:outline-none cursor-pointer px-3 font-bold text-neutral-slate-900;
}
.radioLabel {
  @apply flex items-center gap-2 cursor-pointer w-full bg-neutral-white p-3 border-1 border-neutral-slate-700 rounded-md hover:border-primary-lime has-checked:border-primary-lime has-checked:bg-primary-lime-010 focus-within:bg-primary-lime-010;
}
.radioSelector {
  @apply w-6 h-6 border-2 border-neutral-slate-700 rounded-full  transition-colors relative after:content-[''] after:block after:w-4 after:h-4 after:bg-primary-lime after:rounded-full after:scale-0 peer-checked:after:scale-100 after:transition-transform after:duration-200 after:absolute after:top-[2px] after:left-[2px] peer-checked:border-primary-lime;
}

.btn {
  @apply flex px-4 text-xs py-3 rounded-3xl bg-primary-lime font-bold align-middle justify-center cursor-pointer gap-2 w-60 mt-4 hover:bg-primary-lime-btn-hover transition duration-200 ease-in md:w-max md:px-12 md:text-base;
}

.error {
  @apply text-primary-red text-sm;
}
